.app-layout {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	overflow-y: auto;
	background-image: url(../../assets/images/bg-light.png);

	.layout {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow-y: auto;

		&__wrapper {
			width: 100%;
			max-width: 740px;
			padding: 30px 20px;
		}
	}
}

.dark-theme {
	.app-layout {
		background-image: url(../../assets/images/bg-dark.png);
	}
}
