// color
$c-input-label-color: rgba(0, 0, 0, 0.4);
$c-purple: #6c40b5;
$c-gray: #666666;
$c-white: #ffffff;
$c-dark-purple: #28124d;

// font size
$text-size-10: 10px;
$text-size-14: 14px;
$text-size-16: 16px;
$text-size-48: 48px;
$text-size-86: 86px;

// media query
$scr-sm: "720px";
